canvas {
	display: block;
	opacity: 10% !important;
	position: absolute;
	left: 266px !important;
	top: 624px !important;
	border-radius: 25%;
	z-index: 8 !important;
	/* visibility: hidden; */
}

canvas:hover {
	display: block;
}

.slide-wrapper {
	display: none;
}

/* .scene-nav {
	font-size: 1.15em;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	background: none;
	border: 0;
	right: 0;
	padding: 1.5em;
	color: var(--color-nav);
}

.scene-nav:focus {
	outline: none;
}

.scene-nav--prev {
	left: 0;
}

.icon--arrow-nav-next {
	transform: rotate(-180deg);
} */